services:
  consul-agent:
    image: hashicorp/consul:1.22.3
    container_name: consul-agent
    hostname: ${CONSUL_NODE_NAME:-consul-agent}
    restart: unless-stopped
    network_mode: host
    volumes:
      - consul-data:/consul/data
    configs:
      - source: consul_config
        target: /consul/config/consul.hcl
    command: >
      agent
      -config-file=/consul/config/consul.hcl
      -retry-join=${CONSUL_SERVER_IP}

volumes:
  consul-data:

configs:
  consul_config:
    content: |
      datacenter = "${CONSUL_DATACENTER}"
      data_dir = "/consul/data"
      log_level = "${CONSUL_LOG_LEVEL}"

      server = false
      client_addr = "0.0.0.0"

      bind_addr = "{{ GetInterfaceIP \"${NETWORK_INTERFACE}\" }}"
      advertise_addr = "{{ GetInterfaceIP \"${NETWORK_INTERFACE}\" }}"

      connect {
        enabled = true
      }

      ports {
        grpc = 8502
      }

      rejoin_after_leave = true

      performance {
        raft_multiplier = 1
      }

      recursors = ["8.8.8.8", "1.1.1.1"]