version: '3.8'

services:
  consul-server:
    image: hashicorp/consul:${CONSUL_VERSION:-latest}
    container_name: consul-server
    hostname: consul-server
    restart: unless-stopped
    network_mode: host
    volumes:
      - /data/consul-data:/consul/data
      - /data/config/consul-server.hcl:/consul/config/consul-server.hcl:ro
    command: >
      agent
      -config-file=/consul/config/consul-server.hcl
      -bind=${CONSUL_BIND_IP}
      -advertise=${CONSUL_ADVERTISE_IP}
      -datacenter=${CONSUL_DATACENTER}
    environment:
      - CONSUL_LOG_LEVEL=${CONSUL_LOG_LEVEL:-INFO}

volumes:
  consul-data: