version: '3.8'

services:
  consul-server:
    image: hashicorp/consul:${CONSUL_VERSION:-latest}
    container_name: consul-server
    hostname: consul-server
    restart: unless-stopped
    network_mode: host
    volumes:
      - /consul-data:/consul/data
    configs:
      - source: /consul_server_config
        target: /consul/config/consul-server.hcl
    command: agent -config-file=/data//consul/config/consul-server.hcl

volumes:
  consul-data:

configs:
  consul_server_config:
    content: |
      datacenter = "${CONSUL_DATACENTER}"
      data_dir = "/consul/data"
      log_level = "${CONSUL_LOG_LEVEL}"
      
      server = true
      bootstrap_expect = 1
      
      bind_addr = "${CONSUL_BIND_IP}"
      advertise_addr = "${CONSUL_ADVERTISE_IP}"
      client_addr = "0.0.0.0"
      
      ui_config {
        enabled = true
      }
      
      performance {
        raft_multiplier = 1
      }